.page {
	display: inline-block;
	position: relative;
	width: 80vw;
	height: 80vw;
	/* 100/56.25 = 1.778 */
	max-height: 80vh;
	max-width: 80vh;
	/* 16/9 = 1.778 */
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	vertical-align: middle;
}

.page canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

input.sidebar {
	display: none;
}

label.sidebar {
	overflow-x: hidden;
	position: fixed;
	right: 16px;
	top: 50%;
	z-index: 2;
	transform-origin: center center;
	transform: rotate(180deg);
	transition: 0.5s;
}
input.sidebar:checked + label {
	transform: rotate(0);
	right: 208px; /*250 - 32(w) - 10 (p)*/
}
menu.sidebar {
	list-style: none;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #BBB;
	overflow-x: hidden;
	padding-top: 60px;
	padding-left: 0;
	transition: 0.5s;
	margin: 0;
}
menu.sidebar > li {
	padding-left: 45px;
	margin-bottom: 20px;
	width: max-content;
}
menu.sidebar > li > input:checked + label {
	color: red;
}
menu.sidebar > li > label {
	font-size: 24px;
}
menu.sidebar > li > div {
	overflow: hidden;
	transition: max-height 0.8s ease-out;
}

menu.sidebar > li > input:not(:checked) + label + div {
	max-height: 0!important;
}

input.sidebar:checked + label.sidebar + menu.sidebar {
	width: 250px;
}

menu.sidebar input {
	background: inherit;
}

@media screen and (max-height: 450px) {
	/* TODO: handle small devices? */
}
/* merege with .menu radio? */
.sidebar input[type="radio"] {
	display: none;
}

label > img {
	width: 32px;
	height: 32px;
	padding: 10px 10px 10px 10px;
}

.menu {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.menu {
	vertical-align: middle;
}

.menu > li, .menu menu > li {
	position: relative;
	z-index: 3;
	display: block;
	padding: 1em 0 0 1em;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

.menu label {
	position: inherit;
	z-index: inherit;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

.menu img {
	position: inherit;
	z-index: inherit;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

.menu menu label {
	opacity: 0.7;
}

.menu menu input[type="button"] ~ label {
	opacity: 1;
}

.menu menu input[type="button"] ~ label:hover {
	border: 2px solid;
}


.menu label {
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #8EE4AF;
	position: relative;
}


.menu menu > li {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: left 0.5s, top 0.5s, opacity 0.5s;
}

.menu menu > li {
	z-index: 2;
}
.menu menu menu > li {
	z-index: 1;
}

.menu input[type="radio"] {
    display:none;
}

.menu input[type="button"] {
	display: none;
}

.menu input:checked ~ label,
.menu input ~ label:hover {
	border: 2px solid;
	opacity: 1;
}

.menu input:checked ~ menu > li:first-child:nth-last-child(2):not(.hide) {
	top: -35;
	left: 55;
	opacity: 1;
}
.menu input:checked ~ menu > li:first-child:nth-last-child(2) ~ li:nth-child(2):not(.hide) {
	top: 35;
	left: 55;
	opacity: 1;
}

.menu input:checked ~ menu > li:first-child:nth-last-child(3):not(.hide) {
	top: -55;
	left: 55;
	opacity: 1;
}
.menu input:checked ~ menu > li:first-child:nth-last-child(3):not(.hide) ~ li:nth-child(2):not(.hide){
	top: 0;
	left: 75;
	opacity: 1;
}
.menu input:checked ~ menu > li:first-child:nth-last-child(3) ~ li:nth-child(3):not(.hide) {
	top: 55;
	left: 55;
	opacity: 1;
}

