# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel symlinks
**/bazel-*

# builds
**/build/**

# IDE
**/.vscode/**

# exclude build docs but include files neccessary to build docs
**/html/**
!**/html/Pictures/**
!**/html/info.md